body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-xs: Roboto;
  --font-open-sans: "Open Sans";
  --font-mada: Mada;
  --font-inter: Inter;

  /* font sizes */
  --body-xs-size: 12px;
  --body-m-size: 16px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --heading-5-size: 32px;
  --font-size-lgi: 19px;
  --button-xl-size: 24px;
  --button-l-size: 20px;
  --font-size-lg: 18px;
  --font-size-base-1: 16.1px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --heading-2-size: 56px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --heading-1-m-size: 72px;

  /* Colors */
  --white: #fff;
  --blue-gray-900: #0f172a;
  --color-gray-100: #121212;
  --color-gray-200: #050505;
  --blue-gray-100: #f1f5f9;
  --blue-gray-200: #e2e8f0;
  --purple-100: #f3e8ff;
  --purple-800: #6b21a8;
  --blue-gray-600: #475569;
  --blue-gray-700: #334155;
  --color-limegreen: #58cc05;
  --color-whitesmoke: #f6f5f4;
  --color-black: #000;
  --blue-gray-400: #94a3b8;
  --orange-600: #ea580c;
  --blue-600: #2563eb;
  --red-100: #fee2e2;
  --red-800: #991b1b;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-6xl: 25px;
  --gap-xs-9: 11.9px;
  --gap-sm: 14px;
  --gap-2xs: 11px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-29xl: 48px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-12xl: 31px;
  --padding-77xl: 96px;
  --padding-xl: 20px;
  --padding-13xl: 32px;
  --padding-232xl: 251px;
  --padding-144xl: 163px;
  --padding-87xl: 106px;
  --padding-33xl: 52px;
  --padding-5xs: 8px;
  --padding-10xl: 29px;
  --padding-15xl: 34px;
  --padding-4xs-5: 8.5px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-8xl: 27px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xs: 12px;

  /* Effects */
  --shadow-dark-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(0, 0, 0, 0.07);
}
